{% extends 'main.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css'%}" />
{% endblock %}
{% block content %}
{% load static %}
<main>
    <div class="container mb-5">
        <div class="row gutters">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar mb-2">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
                                </div>
                                <h4 class="user-name">{{dataUserCurrent.name}}</h4>
                                <h5 class="user-name">Hồ sơ của tôi</h5>
                                <h6 class="user-email mx-2">{{dataUserCurrent.email}}</h6>
                                <h6 class="user-email mx-2">{{dataUserCurrent.phone}}</h6>
                            </div>
                            <div class="about">
                                <h5>Địa chỉ</h5>
                                <p>{{dataCustomerCurrent.address}}</h5>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Hồ sơ chi tiết</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">Họ tên</label>
                                    <input type="text" class="form-control" id="fullName" placeholder="Nhập họ tên">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="eMail">Email</label>
                                    <input type="email" class="form-control" id="eMail" placeholder="Nhập địa chỉ email">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="phone">Số điện thoại</label>
                                    <input type="text" class="form-control" id="phone" placeholder="Nhập số điện thoại">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="website">Website URL</label>
                                    <input type="url" class="form-control" id="website" placeholder="Website url">
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mt-3 mb-2 text-primary">Địa chỉ</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="Street">Đường</label>
                                    <input type="name" class="form-control" id="Street" placeholder="Nhập tên đường">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="ciTy">Tỉnh/Thành phố</label>
                                    <input type="name" class="form-control" id="ciTy" placeholder="Nhập tên tỉnh/thành phố">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="sTate">Quận/Huyện</label>
                                    <input type="text" class="form-control" id="sTate" placeholder="Nhập tên quận/huyện">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="zIp">Zip Code</label>
                                    <input type="text" class="form-control" id="zIp" placeholder="Zip Code">
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <button type="button" id="submit" name="submit"
                                            class="btn btn-dark my-3">Hủy</button>
                                    <button type="button" id="submit" name="submit"
                                        class="btn btn-info my-3 mx-4">Cập nhật</button>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters changePassword">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="float-end">
                                    <button type="button" id="submit" name="submit" data-bs-toggle="collapse" data-bs-auto-close=""
                                        class="btn btn-secondary my-3 mx-4 btnChangePW">Đổi mật khẩu</button>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters formChangePassword collapse">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h5 class="mt-3 mb-2 text-primary">Đổi mật khẩu</h5>
                            </div>
                            <form action="" method="GET">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="oldPW">Mật khẩu cũ</label>
                                            <input type="password" class="form-control" id="oldPW" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="newPW">Mật khẩu mới</label>
                                            <input type="password" class="form-control" id="newPW" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="cnewPW">Nhập lại mật khẩu mới</label>
                                            <input type="password" class="form-control" id="cnewPW" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right">
                                    <button type="button" id="submit" name="submit"
                                        class="btn btn-dark my-3 btnCancelCPW">Hủy</button>
                                    <button type="button" id="submit" name="submit"
                                        class="btn btn-info my-3 mx-4 btnUpdatePW">Cập nhật mật khẩu</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h3 class="mt-5 mb-2"><i>Sản phẩm đã mua</i></h3>
            <div>
                <table class="table align-middle mb-0 bg-white mt-2 border border-secondary">
                    <thead class="bg-light">
                      <tr>
                        <th>Tên Sản phẩm</th>
                        <th>Giá</th>
                        <th>Trạng thái</th>
                        <th>Ngày Mua </th>
                        <th>Đánh giá </th>
                      </tr>
                    </thead>
                    <tbody class="list-product-of-store">
                        {% for order_item in order %}
                            <tr>
                                <td> {{order_item.name}} </td>
                                <td> {{order_item.total_price}} </td>
                                {% if order_item.payments__allowed == False %}
                                <td> Chưa thanh toán </td>
                                {%endif%}
                                {% if order_item.payments__allowed == True %}
                                <td> Đã thanh toán </td>
                                {%endif%}
                                <td> {{order_item.datetime}} </td>
                                <td> <a href="{% url 'vieworder' order_name=order_item.name %}" class="btn btn-info">Xem thông tin đơn hàng</a> </td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
                  </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}