
{% extends 'main.html' %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
<link rel="stylesheet" href="{% static 'css/homestyles.css' %}" />
{% endblock %}
{% block content %}
{% load static %}
<main>
    <div class="container">
        <div class="wrapper">
                <div class="inner">
                    <form action="{% url 'contact' %}" method ='POST' class="my-5">
                        {% csrf_token %}
                        <h3>Liên hệ với chúng tôi</h3>
                        <p>Chúng tôi sẽ phản hồi bạn nhanh nhất và tiếp thu tích cực ý kiến của bạn nếu không dc câu trả lời như ý 
                            .Hãy gọi vào Hotline 24/7: 1900 1518</p>
                        <flex-column>
                            <div class="row mt-5 mb-3">
                                <div class="col-4">
                                    <label class="form-group w-100 ">
                                        <span>Họ và tên </span>
                                        <input type="text" name="name" class="form-control"  required>
                                    </label>
                                </div>
                                <div class="col-4">
                                    <label class="form-group w-100 ">
                                        <span>Lí do bạn gửi chúng tôi </span>
                                        <input type="text" name="reason" class="form-control"  required>
                                    </label>
                                </div>
                                <div class="col-4">
                                    <label class="form-group w-100" >

                                        <span for="">Mail</span>
                                        <input type="text" class="form-control"  name='mail' required>
                                    </label>
                                </div>
                            </div>
                            <label class="form-group w-100" >

                                <span for="">Nội dung</span>
                                <textarea name="content" id="" class="form-control" required></textarea>
                            </label>
                            <button type="submit" class="btn btn-info px-5 px-3 my-4">Gửi
                                <i class="zmdi zmdi-arrow-right"></i>
                            </button>
                        </flex-column>
                    </form>
                </div>
            </div>
    </div>
</main>
{% endblock %}