{% load static %}
<footer>
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-6 py-5">
            <h1 class="text-center mb-5"> INFO OF US</h1>
            <i class="fa-solid fa-building d-block mb-4"> <p class=" ms-2">K144/29 , Nguyen Luong Bang , Viet Nam </p></i>
            <i class="fa-solid fa-phone d-block mb-4" ><p class=" ms-2">0889 287 686</p></i>
            <i class="fa-solid fa-envelope d-block mb-4"><p class=" ms-2">Truong45bi@gmail.com</p></i>
          </div>
          <div class="col-6 py-5 text-center">
            <h1 class="mb-5"> FOLLOW US</h1>
            <i class="fa-brands fa-facebook d-block mb-2 "></i>
            <i class="fa-brands fa-instagram d-block mb-2"></i>
            <i class="fa-brands fa-square-twitter d-block mb-2"></i>
            <i class="fa-brands fa-tiktok d-block mb-2"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom text-bg-secondary mb-0">
      <hr class="w-100">
      <div class="container">
        <p class="text-center m-auto fw-light">© Copyright 2022 PBL6, Inc.</p>
      </div>
    </div>
  </footer>