</html>
{% extends "main.html" %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/payment.css' %}" />
{% endblock %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row my-5 bg-light">
        <hr class="mb-4">
        <div class="">
            <h5 class="mx-5" > <i class="fa-solid fa-location-dot mx-3"></i> Địa chỉ nhận hàng</h5>
            <div class="d-flex">
                <h5 class="mx-5 my-2">{{customer.name}} ({{current.phone}})</h5>
                <h5 class="mx-5 my-2">{{customer.address}}</h5>
            </div>
        </div>
        <hr class="mt-4">
    </div>
    <div class="row">
        <h5>Sản phẩm</h5>
    </div>
    <div class="row my-5 bg-light border">
        <hr class="mb-4">
        <div class="data-product">
            {% for i in product %}
                <div class="list-item-cart py-3">
                    <div id="item-cart" class="row mb-4 d-flex justify-content-between align-items-center">
                        <div class="col-md-2 col-lg-2 col-xl-2 d-flex">
                            <img src="/media/photos/products/{{i.photo_products__name}}" class="img-fluid rounded-3" alt="Cotton T-shirt">
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-muted">Size : <p class="d-inline"> {{i.size}}</p> </h6>
                        <div class="gender-item">
                            {% if i.sex == 1  %}
                                <h6 class="text-muted">Men</h6>
                            {% endif %}
                            {% if i.sex == 2 %}
                                <h6 class="text-muted">Women</h6>
                            {% endif %}
                            {% if i.sex == 0 %}
                                <h6 class="text-muted">All</h6>
                            {% endif %}
                        </div>
                        <h6 class="text-black mb-0">{{i.name}}</h6>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                            <h6 class="mb-0">{{i.quantity}}</h6>
                            </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0">{{i.prices__price}}</h6>
                        </div>
                    </div>

                </div>
            {%endfor%}
        </div>
        <hr class="mt-4">
    </div>
    <div class="row my-5 bg-light">
        <hr class="mb-4">
        <div class="col-6 ">
            <div class="d-flex">
                <h5 class="mx-5 my-2">đơn vị vận chuyển</h5>
                <h5 class="mx-5 my-2">{{transport.name}}</h5>
                <h5 class="mx-5 my-2">{{transport.price}}</h5>
            </div>
        </div>
        <div class="col-6 ">
            <div class="d-flex">
                <h5 class="mx-5 my-2">Tổng số tiền </h5>
                <h5 class="mx-5 my-2">{{order.total_price}}</h5>
            </div>
        </div>
        <hr class="mt-4">
    </div>
    <div class="row my-5 bg-light">
        <h5> Phương thức thanh toán</h5>
        <div class="d-flex my-5">
            <h5 class='me-5'>Thanh toán bằng Paypal </h5> {{form.render}}
        </div>
        <div class="d-flex my-5">
            <h5 class='me-5'>Thanh toán bằng Khi nhân hàng </h5>
            <button type="button"  id="PayOnReceiptBtn" value={{slug}} class="ms-5 btn btn-info"> Mua hàng </button>
        </div>
    </div>
</div>

{% endblock %}
{% block javastript %}
{% load static %}
<script src="/static/js/paymentss.js"></script>
{% endblock %}