{% extends 'main.html' %}
{% block style %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/shoppingcartstyle.css' %}" />
{% endblock %}
{% block content %}
<main>
    <div class="container py-5 h-100">
        <div class="row mt-2">
            <h3>Mã đơn hàng : {{order.name}}</h3>
        </div>
        <div class="row d-flexborder bg-light">
            <div class="col-2 my-4 d-flex flex-column">
                {% if process_order.process1 != null %}
                  <i class="fa-sharp fa-solid fa-receipt fs-1 text-info"></i>
                  <h5 class="mt-5">Đơn hàng đã đặt</h5>
                  <p>{{process_order.process1}}</p>
                {%endif%}
              </div>
              <div class="col-2 my-4 d-flex flex-column">
                {% if process_order.process >= 1 %}
                  {% if process_order.process2 != null %}
                    <i class="fa-solid fa-money-bill-wave fs-1 text-info"></i>
                    <h5 class="mt-5">Đã xác nhận</h5>
                    <p>{{process_order.process2}}</p>
                  {% else %}
                    <i class="fa-solid fa-money-bill-wave fs-1 text-danger"></i>
                    <h5 class="mt-5">Đã xác nhận</h5>
                  {%endif%}
                {% else %}
                <i class="fa-solid fa-money-bill-wave fs-1 text-muted"></i>
                <h5 class="mt-5">Đã xác nhận</h5>
                {%endif%}
              </div>
              <div class="col-2 my-4 d-flex flex-column">
                {% if process_order.process >= 2%}
                  {% if process_order.process3 != null %}
                  <i class="fa-solid fa-truck-arrow-right fs-1 text-info"></i>
                  <h5 class="mt-5">Đã giao cho DVVC</h5>
                    <p>{{process_order.process3}}</p>
                  {% else %}
                  <i class="fa-solid fa-truck-arrow-right fs-1 text-danger"></i>
                  <h5 class="mt-5">Đã giao cho DVVC</h5>
                  {%endif%}
                {% else %}
                  <i class="fa-solid fa-truck-arrow-right fs-1 text-muted"></i>
                  <h5 class="mt-5">Đã giao cho DVVC</h5>
                {%endif%}
              </div>
              <div class="col-2 my-4 d-flex flex-column">
                {% if process_order.process >= 3 %}
                  {% if process_order.process4 != null %}
                  <i class="fa-solid fa-box fs-1 text-info"></i>
                  <h5 class="mt-5">Đã nhận được hàng</h5>
                    <p>{{process_order.process4}}</p>
                  {% else %}
                  <i class="fa-solid fa-box fs-1 text-danger"></i>
                  <h5 class="mt-5">Đã nhận được hàng</h5>
    
                  {%endif%}
                {% else %}
                <i class="fa-solid fa-box fs-1 text-muted"></i>
                <h5 class="mt-5">Đã nhận được hàng</h5>
                {%endif%}
              </div>
              <div class="col-2 my-4 d-flex flex-column">
                {% if process_order.process >= 4 %}
                  {% if process_order.process5 != null %}
                  <i class="fa-solid fa-person fs-1 text-info"></i>
                  <h5 class="mt-5">Đơn hàng đã giao</h5>
                    <p>{{process_order.process5}}</p>
                  {% else %}
                  <i class="fa-solid fa-person fs-1 text-danger"></i>
                  <h5 class="mt-5">Đơn hàng đã giao</h5>
                  
                  {%endif%}
                {% else %}
                <i class="fa-solid fa-person fs-1 text-muted"></i>
                <h5 class="mt-5">Đơn hàng đã giao</h5>
                {%endif%}
        
              </div>
              <div class="col-2 my-4 d-flex flex-column">
                {% if process_order.process >= 5 %}
                  {% if process_order.process6 != null %}
                  <i class="fa-solid fa-star fs-1 text-info"></i>
                        <h5 class="mt-5"> Cho ý kiến shop</h5>
                    <p>{{process_order.process6}}</p>
                  {% else %}
                  <i class="fa-solid fa-star fs-1 text-danger"></i>
                        <h5 class="mt-5"> Cho ý kiến shop</h5>
                  <form action="{% url 'vieworder' order_name=order_name %}" method="GET">
                    {% csrf_token %}
                    {% if process_order.process == 5 %}
                    <input type="text" class="btn btn-danger"  name="prorcess6"/>
                    <button type="submit" class="btn btn-danger" name="confirm" value="6" href=""> Xác nhận đánh giá </button>
                    {%endif%}
                  </form>
                  {%endif%}
                {% else %}
                <i class="fa-solid fa-star fs-1 text-muted"></i>
                        <h5 class="mt-5"> Đánh giá</h5>
                {%endif%}
        </div>
        <div class="row mt-5">
            <div class="col-6">
                <div class=" d-flex flex-column  justify-content-start ">
                    <h4> Địa chỉ nhận hàng </h4>
                    <h5> {{customer.name}}</h5>
                    <p> {{customer.address}}</p>
                </div>
            </div>
            <div class="col-6">
                <div class=" d-flex flex-column justify-content-end">
                    <h4> Thông tin </h4>
                    <h5> {{order.total_price}} </h5>
                    <p> Nội dung khi nhận hàng : </p>
                    <p>{{order.feedback}}</p>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="data-product">
                {% for i in product %}
                    <div class="list-item-cart py-3">
                        <div id="item-cart" class="row mb-4 d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-2 col-xl-2 d-flex">
                                <img src="/media/photos/products/{{i.photo_products__name}}" class="img-fluid rounded-3" alt="Cotton T-shirt">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-3">
                                <h6 class="text-muted">Size : <p class="d-inline"> {{i.size}}</p> </h6>
                                <div class="gender-item">
                                    {% if i.sex == 1  %}
                                        <h6 class="text-muted">Men</h6>
                                    {% endif %}
                                    {% if i.sex == 2 %}
                                        <h6 class="text-muted">Women</h6>
                                    {% endif %}
                                    {% if i.sex == 0 %}
                                        <h6 class="text-muted">All</h6>
                                    {% endif %}
                                </div>
                                    <h6 class="text-black mb-0">{{i.name}}</h6>
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                <h6 class="mb-0 my-1 text-muted"> Giá :{{i.prices__price}}</h6>
                                <h6 class="mb-0 my-1 text-danger"> Giảm giá : {{i.prices__sale}}%</h6>
                                <h6 class="mb-0 my-1 text-success"> Giá thật :{{i.prices__price_total}}</h6>
                            </div>
                        </div>
                        <hr class="my-4 w-100">
                    </div>
                {%endfor%}
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block javastript %}
{% load static %}
<script src="/static/js/shoppingcartssss.js"></script>
{% endblock %}