.account-expand{
    cursor: pointer;
}
.account-bar{
    background-color: rgba(13, 41, 47,0.9);
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 99;
}
.account-bar a{
    list-style-type: none;
    text-decoration: none;
}

#carouselProduct.carousel-inner {
    overflow: visible;
  }
  
  .content-col {
    position: relative;
  }
  .ribbon {
    position: absolute;
    top: 10px;
    left: -11px;
    z-index: 999;
    display: inline-block;
    font-family: "HK Grotesk",sans-serif;
    font-size: .7rem;
    text-transform: uppercase;
    letter-spacing: .3em;
    padding: 3px 15px;
    color: #fff;
    text-align: center;
  }
  .ribbon::before {
    content: '';
    border-left: 11px solid transparent;
    border-right: 0 solid transparent;
    position: absolute;
    bottom: -14px;
    left: 0;
  }
  .ribbon.new::before {
    border-top: 14px solid #1460a0;
  }
  .ribbon.sale::before {
    border-top: 14px solid #933006;
  }
  .ribbon.new {
    background: #00B3ED;
  }
  .ribbon.sale {
    background: #F8463F;
  }
  .filterRes {
    display: none;
  }
  
  @media only screen and (max-width: 1400px) {
    .search-filter {
      display: none;
    }
    .sortItems h5{
      display: none;
    }
    .sortItems ul{
      flex-wrap: nowrap;
    }
    .sortItems li:first-child {
      border-left: none;
    }
    .sortItems li:last-child {
      padding-left: 5px;
    }
    .sortItems li {
      margin-left: 0;
      margin-right: 0;
      font-size: 15px;
      padding: 0;
      border-left: 1px solid #ccc;
    }
    .sortItems li a{
      padding: 8px;
    }
    .filterRes {
      display: block;
      border-bottom: 1px solid #ccc;
      margin-bottom: 5px;
      padding-bottom: 10px;
    }
  }
  
  /* modal */
  .btn-close.close-outside {
    right: 0;
    position: absolute;
    top: -30px;
    opacity: 1;
  }
  .modal-title {
    text-decoration: none;
    color: #000;
  }
  .modalQuickShop form>div {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    border: none;
  }
  .modalItemImg {
    display: flex;
    align-items: center;
  }
  .modalQuickShop .modalAddCart {
    width: 100%;
  }