
.form-check-label {
    color: #000;
    opacity: 0.70;
  }
  .select-sort-content{
    border-top: 1px solid #000;
  }
  .logo-category{
    position: absolute;
    top: -200px;
  }
  .sale-product{
    top:0%;
    left:5%;
  }
  .active-page{
    color: #000;
    background-color: aliceblue;
  }
  .sale-value-product{
    top:11.5%;
    left:12%;
    font-size: 12px;
    color: #F8463F;
  }
  .price-value-product{
    /* top:47.4%;
    font-size: 14px;
    left: 2%;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: line-through; */
    bottom: 14em;
    left: 0px;
    z-index: 999;
    display: inline-block;
    font-size: .7rem;
    padding: 3px 10px;
    color: rgb(143, 143, 143);
    text-align: center;
    background-color: #fff;
    text-decoration: line-through;
    /* font-family: 'Courier New', Courier, monospace; */
  }
  .search-filter {
    border-top: 3px solid #000;
    padding-top: 15px;
  }
  .sortItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    color: #868e96;
  }
  .category-products {
    border: 2px solid #F7F7F0;
    margin-bottom: 35px;
    padding-bottom: 20px;
    padding-top: 15px;
  }
  h2.title {
    color: #868e96;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0 15px;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
  }
  .left-sidebar h2{
    color: #868e96;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 0 auto 30px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index:3;
  }
  
  .left-sidebar h2:after, .right-sidebar h2:after{
    content: " ";
    position: absolute;
    border: 1px solid #f5f5f5;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -2;
  }
  .left-sidebar h2:after{
    bottom:8px;
  }
  .right-sidebar h2:after{
    bottom:8px;
  }
  
  .left-sidebar h2:before, .right-sidebar h2:before{
    content: " ";
    position: absolute;
    background: #fff;
    bottom: -6px;
    width: 130px;
    height: 30px;
    z-index: -1;
    left: 50%;
    margin-left: -65px;
  }
  .left-sidebar h2:before{
    width: 130px;
    margin-left: -65px;
  }
  
  
  .category-products .panel {
    background-color: #FFFFFF;
    border: 0px;
    border-radius: 0px;
    box-shadow:none;
    margin-bottom: 0px;
  }
  
  .category-products .panel-default .panel-heading {
    background-color: #FFFFFF;
    border: 0 none;
    color: #FFFFFF;
    padding: 5px 20px;
  }
  
  .category-products .panel-default .panel-heading .panel-title a {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: none;
  }
  
  .panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 0 none;
  }
  .category-products .badge {
    background:none;
    border-radius: 10px;
    color: #696763;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    min-width: 10px;
    padding: 10px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
  }
  .pull-right {
    float: right!important;
  }
  .panel-body ul{
    padding-left: 30px;
    
  }
  
  
  .panel-body ul li a {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-decoration: none;
  }
  
  
  
  .content-col {
    position: relative;
  }
  .ribbon {
    position: absolute;
    top: 10px;
    left: -11px;
    z-index: 999;
    display: inline-block;
    font-family: "HK Grotesk",sans-serif;
    font-size: .7rem;
    text-transform: uppercase;
    letter-spacing: .3em;
    padding: 3px 15px;
    color: #fff;
    text-align: center;
  }
  .ribbon::before {
    content: '';
    border-left: 11px solid transparent;
    border-right: 0 solid transparent;
    position: absolute;
    bottom: -14px;
    left: 0;
  }
  .ribbon.new::before {
    border-top: 14px solid #1460a0;
  }
  .ribbon.sale::before {
    border-top: 14px solid #933006;
  }
  .ribbon.new {
    background: #00B3ED;
  }
  .ribbon.sale {
    background: #F8463F;
  }
  .filterRes {
    display: none;
  }
  
  @media only screen and (max-width: 1400px) {
    .search-filter {
      display: none;
    }
    .sortItems h5{
      display: none;
    }
    .sortItems ul{
      flex-wrap: nowrap;
    }
    .sortItems li:first-child {
      border-left: none;
    }
    .sortItems li:last-child {
      padding-left: 5px;
    }
    .sortItems li {
      margin-left: 0;
      margin-right: 0;
      font-size: 15px;
      padding: 0;
      border-left: 1px solid #ccc;
    }
    .sortItems li a{
      padding: 8px;
    }
    .filterRes {
      display: block;
      border-bottom: 1px solid #ccc;
      margin-bottom: 5px;
      padding-bottom: 10px;
    }
  }
  
  /* modal */
  .btn-close.close-outside {
    right: 0;
    position: absolute;
    top: -30px;
    opacity: 1;
  }
  .modal-title {
    text-decoration: none;
    color: #000;
  }
  .modalQuickShop form>div {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    border: none;
  }
  .modalItemImg {
    display: flex;
    align-items: center;
  }
  .modalQuickShop .modalAddCart {
    width: 100%;
  }