<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href ="{% static 'css/loginstyle.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet"/> 
</head>
<body>

  <section class="gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mt-md-4 pb-2">
            
              <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
              <form action="{% url 'register'%}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
                  <input type="text" id="login__username" class="form-control" placeholder="Username" name="username" required>
                </div>

                <div class="form-group">
                  <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                  <input type="password" id="login__password" class="form-control" placeholder="Password" name="password" required>
                </div>

                <div class="form-group">
                  <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                  <input type="password" id="login__password" class="form-control" placeholder="Confirm password" name="confirmpassword" required>
                </div>

                <div class="form-group">
                  <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
                  <input type="text" id="login__username" class="form-control" placeholder="Name" name="name" required>
                </div>

                <div class="form-group">
                  <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-envelope"></span></div>
                  <input type="text" id="login__email" class="form-control" placeholder="Email" name="email" required>
                </div>

                <div class="form-group">
                  <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-phone"></span></div>
                  <input type="text" id="login__phone" class="form-control" placeholder="Phone" name="phone" required>
                </div>
                
                <div class="form-group">
                  <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-location-dot"></span></div>
                  <input type="text" id="login__address" class="form-control" placeholder="Address" name="address" required>
                </div>

                <div class="form-group">
                  <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-calendar-days"></span></div>
                  <input type="date" id="login__birthday" class="form-control" placeholder="Birthday" name="birthday" required>
                </div>



                {% for message in messages %}
                  <p id ='messages' style="color:red;" >{{message}}</p>
                {%endfor%}

              <div class="form-group">
                <button type="submit" class="btn form-control btn-primary rounded submit px-3">Sign Up</button>
              </div>
              </form> 

              <div class="d-flex justify-content-center text-center mt-4 pt-1">
                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
              </div>

            </div>

            <div>
              <p class="mb-0">Have an account? <a href="{% url 'login'%}" class="text-white-50 fw-bold">Sign In</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>