{% extends 'main.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/registerStore.css' %}" />
{% endblock %}
{% block content %}
{% load static %}
<main>
    <div class="container">
        <div class="text-center">
            <h3> Register Store</h3>
        </div>
        <form action="{% url 'registerstore'%}" method="POST" enctype="multipart/form-data" class="form login">
            {% csrf_token %}
            <div class="align-items-start ">
                <div class="pt-2 d-flex flex-column w-50 m-auto" id="store-img">
                    <img src="{% static 'image/camera.jpg' %}" class="rounded mx-auto d-block w-25" alt="...">
                </div>
                <div class="m-auto pt-2 d-flex w-25 m-auto"><label for="login__password">
                    {{form}}
                    {% csrf_token %}
                </div>
            </div>
            <div class="form__field">
                <label for="login__username"><i class="fa-solid fa-user"></i></label>
                <input autocomplete="username" id="login__username" type="text" name="name" class="form__input"
                    placeholder="Name" required>
            </div>
            <div class="form__field">
                <label for="login__password"><i class="fa-solid fa-envelope"></i></label>
                <input id="login__password" type="text" name="email" class="form__input" placeholder="email" required>
            </div>
            <div class="form__field">
                <label for="login__password"><i class="fa-solid fa-phone"></i></label>
                <input id="login__password" type="text" name="phone" class="form__input" placeholder="phone" required>
            </div>
            <div class="form__field">
                <label for="login__username"><i class="fa-solid fa-address-book"></i></label>
                <input autocomplete="username" id="login__username" type="text" name="contact" class="form__input"
                    placeholder="Contact" required>
            </div>
            <div class="form__field">
                <label for="login__password"><i class="fa-solid fa-location-dot"></i></label>
                <input id="login__password" type="text" name="address" class="form__input" placeholder="Address"
                    required>
            </div>
            <div class="form__field">
                <label for="login__password"><i class="fa-solid fa-city"></i></label>
                <input id="login__password" type="text" name="city" class="form__input" placeholder="City" required>
            </div>
            <div class="form__field">
                <label for="login__password"><i class="fa-solid fa-fax"></i></label>
                <input id="login__password" type="text" name="fax" class="form__input" placeholder="Fax" required>
            </div>
            {% for message in messages %}
            <p id='messages' style="color:red;">{{message}}</p>
            {%endfor%}
            <div class="form__field pt-2 d-flex flex-column w-50 m-auto">
                <input class="w-25" type="submit" value="Sign Up Store">
            </div>
        </form>
    </div>
</main>
{% include 'footer.html' %}
{% endblock %}
{% block javastript %}
{% load static %}
<script src="/static/js/registerStores.js"></script>
{% endblock %}