<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href ="{% static 'css/loginstyless.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet"/> 
</head>
<body>

  <section class="bg-light">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="register">
                    <span class="fas fa-user-circle" aria-hidden="true"></span>
                    <strong>Tạo tài khoản mới!</strong>
                    <form action="{% url 'register'%}" method="post" class="register-form">
                        {% csrf_token %}
                        <fieldset>
                            <div class="form mt-4">
                                {% for message in messages %}
                                  <p id ='messages' style="color:red;" >{{message}}</p>
                                {%endfor%}
                                <div class="form-row">
                                    <span class="fas fa-user" aria-hidden="true"></span>
                                    <label class="form-label" for="input">Tên đăng nhập</label>
                                    <input type="text" class="form-text" name="username" required="">
                                </div>
                                <div class="form-row">
                                    <span class="fas fa-lock" aria-hidden="true"></span>
                                    <label class="form-label" for="input">Mật khẩu</label>
                                    <input type="password" class="form-text" name="password" required="">
                                </div>
                                <div class="form-row">
                                    <span class="fas fa-lock" aria-hidden="true"></span>
                                    <label class="form-label" for="input">Nhập lại mật khẩu</label>
                                    <input type="password" class="form-text" name="confirmpassword" required="">
                                </div>
                                <div class="form-row">
                                    <span class="fas fa-user" aria-hidden="true"></span>
                                    <label class="form-label" for="input">Tên</label>
                                    <input type="text" class="form-text" name="name" required="">
                                </div>
                                <div class="form-row">
                                    <span class="fas fa-envelope" aria-hidden="true"></span>
                                    <label class="form-label" for="input">E-mail</label>
                                    <input type="email" class="form-text" name="email" required="">
                                </div>
                                <div class="form-row">
                                    <span class="fas fa-phone" aria-hidden="true"></span>
                                    <label class="form-label" for="input">Số điện thoại</label>
                                    <input type="text" class="form-text" name="phone" required="">
                                </div>
                                <div class="form-row">
                                    <span class="fas fa-location-dot" aria-hidden="true"></span>
                                    <label class="form-label" for="input">Địa chỉ</label>
                                    <input type="text" class="form-text" name="address" required="">
                                </div>
                                <div class="form-row">
                                    <span class="fas fa-calendar-days" aria-hidden="true"></span>
                                    <label class="form-label" for="input">Ngày sinh</label>
                                    <input type="date" class="form-text" name="birthday" required="">
                                </div>
                                <div class="form-row button-login">
                                    <button class="btn btn-login">Tạo <span class="fas fa-arrow-right" aria-hidden="true"></span></button>
                                </div>
                            </div>
                        </fieldset>
                        
                </form>
              <span class="create-account mt-3">Đã có tài khoản? &nbsp<a href="{% url 'login'%}" class="signin">Đăng nhập</a>
              </span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>