{% extends 'main.html' %}

{% block style %}
{% load static %}
    <link rel="stylesheet"  href="{% static 'css/productdetailstyle.css'%}"/>
{% endblock %}
{% block content %}
{% load static %}
  <main>
    <div class="container">
        <div class="row py-5 g-5">
              {% comment %} {% for pro in product %} {% endcomment %}
              {% load humanize %}
            <div id="carouselExampleControls" class="carousel col-12 col-lg-6" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{% static 'image/sp1.png' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'image/sp2.png' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'image/sp3.png' %}" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="col-12 col-lg-6">
                <h2 id="name-product">{{product.name}}</h2>
                <small class="sex-product">{{product.description}}</small> 
                <h5 class="my-4">
                {% if priceProduct.sale == 0.0 %}
                          {{priceProduct.price|intcomma}}VND
                        {% else %}
                          <span class="small"><del>{{priceProduct.price|intcomma}}VND</del></span>
                          &nbsp {{priceProduct.price_total|intcomma}}VND
                          &nbsp<span class="">{{priceProduct.sale|intcomma}}</span>
                        {% endif %}</h5>
                <div class="row g-3 align-items-center">
                  <label for="selectSize" class="col-auto me-4">Size:</label>
                  <!-- <br> -->
                  {% for size in list_size %}
                  <div class="flex-wrap col-auto" role="group" aria-label="Basic radio toggle button group" data-bs-target="#size{{size.size}}>
                    <input type="radio" class="btn-check" name="options" id="option{{size}}" autocomplete="off">
                    <label class="btn btn-outline-secondary" for="option{{size}}">{{size.size}}</label>
                  </div>
                  {% endfor %}
                    
                    
                </div>
                <br>
                <!-- <label for="quantityProduct" class="text-muted">Quantity:&nbsp;&nbsp;</label>
                <input type="number" value="0" size="1" min="0" max="10" id="quantity"/> -->
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="quantityProduct" class="col-form-label">Quantity:</label>
                    </div>
                    <div class="col-auto">
                      <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <button type="button" class="btn btn-outline-secondary"><i class="fas fa-subtract"></i></button>
                        <input name="quantityItem" min="0" max="20" size="1" value="0" class="text-center"/>
                        <button type="button" class="btn btn-outline-secondary"><i class="fas fa-plus"></i></button>
                      </div>
                    </div>
                    {% for size in list_size %}
                    <div class="col-auto hidden" id="size{{size.size}}">
                        <span id="quantityAvail" class="form-text">
                            {{size.quantity}} pieces available
                        </span>
                    </div>
                    {% endfor %}
                </div>
                <br>
                <br>
                <div class="d-grid my-4">
                    <button class="btn btn-lg btn-secondary" type="button" id="cartBtn">
                      <i class="fa-solid fa-cart-shopping me-2"></i>Add to cart</button>
                </div>
            </div>
            
            <div class="card form-control">
                <div class="card-body">
                    <!-- <h5 class="card-title">Shop</h5> -->
                    <div class="infoShop">
                        <a href="" class="me-3"><img src="{% static 'image/banner1.jpg' %}" class="UserImg img-fluid" alt="..."></a>
                        <div class="flex-column justify-content-between">
                          <span class="nameShop">{{product.store_id__name}}</span>
                        </div>
                    </div>
                </div>
            </div>
              
            <div class="card form-control">
                <div class="card-body">
                    <h5 class="card-title">Description</h5>
                    <p class="card-text">{{pro.description}}</p>
                </div>
            </div>

            <div class="card form-control">
                <div class="card-body">
                    <h5 class="card-title">Product Rates</h5>
                    <div class="mt-3 userRate">
                      <a href=""><img src="{% static 'image/banner1.jpg' %}" class="UserImg me-3" alt="..."></a>
                      <div class="flex-column justify-content-between">
                          <span class="userName">UserName</span>
                          <p class="timeRate ">2022-09-09</p>
                          <p class="userCmt">With supporting text below as a natural lead-in to additional content.</p>
                      </div>
                    </div>
                    <div class="mt-3 userRate">
                      <a href=""><img src="{% static 'image/banner1.jpg' %}" class="UserImg me-3" alt="..."></a>
                      <div class="flex-column justify-content-between">
                          <span class="userName">UserName</span>
                          <p class="timeRate ">2022-09-09</p>
                          <p class="userCmt">With supporting text below as a natural lead-in to additional content.</p>
                      </div>
                    </div>
                </div>
            </div>
            
            <div id="carouselProduct" class="carousel slide" data-bs-ride="false">
                <div class="row my-5">
                    <div class="col-6 d-flex align-items-center">
                        <h4 class="m-0 ms-2">You may also like</h4>
                      </div>
                    <div class="col-6 pagination-product">
                        <button class="btn-pagination-product me-2" type="button" data-bs-target="#carouselProduct" data-bs-slide="prev">
                        <i class="fa-solid fa-chevron-left"></i>
                        </button>
                        <button class="btn-pagination-product ms-2" type="button" data-bs-target="#carouselProduct" data-bs-slide="next">
                        <i class="fa-solid fa-chevron-right"></i>
                        </button>
                    </div>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row">
                      {% for pro in products %}
                      {% load humanize %} 
                      <div class="col-md-3 col-5 mb-2 ">
                        <div class="content-col justify-content-between">
                          <a href="{% url 'productdetail' slug=pro.slug %}"><img src="{% static 'image/sp1.png' %}"></a>
                          {% if pro.prices__sale > 0.0 %}
                          <div class="ribbon sale">SALE&nbsp{{pro.prices__sale}}%</div>
                          <p class="position-absolute price-value-product">{{pro.prices__price|intcomma}}VND</p>
                          {% endif %}
                          <div class="text-center content-card">
                            <p>{{pro.id}}</p>
                            <p class="price">
                              {{pro.prices__price|intcomma}}VND
                            </p>
                            <a href="" class="text-decoration-none"><p class="name-product">{{pro.name}}</p></a>
                            {% if pro.sex == 0 %}
                            <p class="sex-product">Men & Women</p>
                            {% endif %}
                            {% if pro.sex == 1 %}
                            <p class="sex-product" id="sex-product-detail">Men</p>
                            {% endif %}
                            {% if pro.sex == 2 %}
                            <p class="sex-product">Women</p>
                            {% endif %}
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal{{pro.slug}}">
                              <i class="fa-solid fa-cart-shopping me-2"></i>Add to cart</button>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                      
                    </div>
                  </div>
                </div>
            </div>
              {% comment %} {% endfor %} {% endcomment %}
        </div>
    </div>
  </main>
{% endblock %}

