{% extends 'main.html' %}
{% block title %}{{storeInfo.name}}{% endblock title %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/storeDetail.css'%}" />
{% endblock %}
{% block content %}
{% load static %}
<main class="">
    <div class="container info-store">
        <div class="row infoShop">
            <div class="col-8 d-flex align-items-center">
                <img alt="{{storeInfo.name}}" class="UserImg my-5 img-fluid" src="/media/photos/stores/{{storeInfo.logo}}">
                <div class="flex-grow-1 ms-3 flex-row">
                  <span class="nameShop">{{storeInfo.name}}</span>
                  <!-- <p class="nameShop">{{storeInfo.name}}</p> -->
                </div>
            </div>
            <div class="col-4">
                <form action="" method="POST">
                    <div class="d-flex flex-row justify-content-around my-3 ">
                        <button class="btn btn-dark my-4" type="submit"> Follow </button>
                        <button class="btn btn-info my-4" type="submit"> Feedback </button>
                        <button class ="btn btn-danger my-4" type="submit"> Report </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="d-flex justify-content-between">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Tất cả sản phẩm</button>
            </li>
            <!-- <li class="nav-item" role="presentation">
              <button class="nav-link" id="category-tab" data-bs-toggle="tab" data-bs-target="#category-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Bộ sưu tập</button>
            </li> -->
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Thông tin</button>
            </li>
          </ul>
          <form action="">
            <input type="search" name="" id="">
          </form>
        </div>
    </div>
</main>
<div class="tab-content" id="myTabContent">
  <!-- home-tab -->
  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
    <div class="show-product">
      <div class="container">
        <div class="justify-content-around">
          <div class="pe-0 mt-5">
              <h2 class="title text-center">Sản Phẩm</h2>
              <div class="sortItems">
                <div class="mb-3 d-flex align-items-center">
                  <span class="d-inline-block me-2">Sắp xếp</span>
                  <select name="sortby" class="form-select price-sort w-auto border-0" aria-label="Default select example" onchange = "window.location.href =  this.value">
                      {% comment %} <option disabled selected value>All Price</option> {% endcomment %}
                      <option value="?sortby=lastest" {% if sortby == "lastest" %} selected = "selected" {%endif%}>Mới nhất</option>
                      <option value="?sortby=highrate"{% if sortby == "highrate" %} selected = "selected" {%endif%}>Đánh giá cao</option>
                      <option value="?sortby=lowtohigh"{% if sortby == "lowtohigh" %} selected = "selected" {%endif%}>Giá: Thấp tới cao</option>
                      <option value="?sortby=hightolow"{% if sortby == "hightolow" %} selected = "selected" {%endif%}>Giá: Cao tới thấp</option>
                    </select>
                </div>
              </div>
  
              <div class="row">
                {% for pro in products %}
                {% load humanize %}
                  <div class="col-lg-2 col-7 mb-5 ">
                    <div class="content-col text-center product-item">
                      <form action="{% url 'productdetail' slug=pro.slug %}" method="POST">
                        {% csrf_token %}
                        <img class="border-2" src="/media/photos/products/{{pro.photo_products__data}}">
                        {% if pro.prices__sale > 0.0 %}
                        <p class="position-absolute price-value-product">{{pro.prices__price|intcomma}}VND</p>
                        <div class="ribbon sale">SALE {{pro.prices__sale}}%</div>
                        {% endif %}
                        <div class="text-center content-card text-black">
                          <p class="name-product">{{pro.name|truncatechars:25}}</p>

                          {% if pro.sex == 0 %}
                          <p class="sex-product">Cả nam và nữ</p>
                          {% endif %}
                          {% if pro.sex == 1 %}
                          <p class="sex-product" id="sex-product-detail">Nam</p>
                          {% endif %}
                          {% if pro.sex == 2 %}
                          <p class="sex-product">Nữ</p>
                          {% endif %}
                          
                          <p class="price">
                            {{pro.prices__price_total|intcomma}}VND
                          </p>
                        </div>
                        <!-- <a href="{% url 'productdetail' slug=pro.slug %}" class="text-decoration-none"></a> -->
                        <button type="submit" class="btn btn-secondary w-75 rounded-2">
                          Xem chi tiết</button>
                        <!-- </a> -->
                      </form>
                    </div>
                  </div>
                {% endfor %}
                <div class="pages mt-5">
                  <nav aria-label="Page navigation example" class="d-flex justify-content-center" style="height: 8%">
                    <ul class="pagination">
                      {% if products.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo Trang đầu</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Trước</a></li>
                      {% endif %}
                      {% for i in nums %}
                        <li 
                          {% if forloop.counter == page %}
                            class="page-item active"
                          {% else %}
                            class="page-item"
                          {% endif %}><a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                      {% endfor %}
                      {% if products.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Sau</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{products.paginator.num_pages}}">Trang cuối &raquo</a></li>
                      {% endif %}
                    </ul>
                  </nav>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- category-tab -->
  <!-- <div class="tab-pane fade" id="category-tab-pane" role="tabpanel" aria-labelledby="category-tab" tabindex="0">
    <div class="container">

    </div>
  </div> -->
  <!-- profile-tab -->
  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
    <div class="container">
      <div class="mt-5">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th scope="row">Số sản phẩm </th>
              <td>{{list_product.count}}</td>
            </tr>
            <!-- <tr>
              <th scope="row">Đánh giá</th>
              <td>Jacob</td>
            </tr> -->
            <tr>
              <th scope="row">Email</th>
              <td>{{storeInfo.email}}</td>
            </tr>
            <tr>
              <th scope="row">Số điện thoại</th>
              <td>{{storeInfo.phone}}</td>
            </tr>
            <tr>
              <th scope="row">Fax</th>
              <td>{{storeInfo.fax}}</td>
            </tr>
            <tr>
              <th scope="row">Địa chỉ</th>
              <td>{{storeInfo.address}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block javastript %}
{% load static %}
<script src="/static/js/mystore.js"></script>
{% endblock %}